* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(3, 3, 13, 0);
    color: #e8eeff;
}

#workspaces button {
    padding: 5px;
    color: #2a2a5a;
    margin-right: 5px;
}

#workspaces button.active {
    color: #c8d4f0;
}

#workspaces button.focused {
    color: #c8d4f0;
    background: #e879f9;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #06061a;
    background: #34d399;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #00d4ff;
    color: #06061a;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: #06061a;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #06061a;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #00d4ff;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #a78bfa;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    color: #c8d4f0;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #c8d4f0;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: #34d399;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}
