// Catppuccin Macchiato
* {
    bg0:    #1E1E2EF2;
    bg1:    #313244;
    bg2:    #45475A80;
    bg3:    #585B70F2;
    fg0:    #CDD6F4;
    fg1:    #FFFFFF;
    fg2:    #A6ADC8;
    fg3:    #45475A;
}

@import "template/rounded-template.rasi"
