// Simple Monochrome
* {
    bg0:    #16161eE6;
    bg1:    #1a1b26CC;
    bg2:    #bb9af740;
    bg3:    #bb9af7E6;
    fg0:    #c0caf5;
    fg1:    #c0caf5;
    fg2:    #c0caf5;
    fg3:    #565f89;
}

@import "template/rounded-template.rasi"
